@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template: 200px 1fr / 1fr 5fr;
}

.header {
    border-bottom: groove;
    padding-left: 30px;
    padding-right: 90px;
    display: grid;
}

.sidebar {
    background-color: #0ea5e9;
    grid-row: 1/3;
}

.main-content {
display: grid;
}

.sidebar-menu {
    padding-left: 20px;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 6fr;
    color: white;
    align-items: center;
    row-gap: 20px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

img {
    display: grid;
    align-self: center;
    justify-self: center;
}

.topnav {
    display: grid;
    grid-template-columns: 70px 1fr 70px 70px 70px;
    align-items: center;
    justify-items: center;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    width: -webkit-fill-available;
  }

.topnav p {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
  }

.logo img{
    width: 1.5em;
    height: 1.5em;
  }

.bottomnav {
    display: grid;
    grid-template-columns: 70px 1fr 100px 100px 100px;
    gap: 20px;
    align-items: center;
  }

.bottomnav img {
    width: 3em;
    height: 3em;
  }
  
.button {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #0ea5e9;
    color: white;
    border-style: none;
    height: 40px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
  }

h5 span {
    font-size: 20px;
}



.intermission {
    padding-inline: 30px;
    display: flex;
    gap: 1100px;
}